body {
  background-color: #eee0cb;
  color: #280003;
}
header {
  font-family: "Lato", sans-serif;
  text-align: center;
}
h1 {
  font-size: 100px;
  margin-top: 0%;
  margin-bottom: 0%;
}
h2 {
  margin-top: 0%;
  font-size: 45px;
}
main {
  width: 80%;
  margin: auto;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  text-align: justify;
}
.text2 {
  margin-top: 40%;
}
