/* Color Scheme */
body {
	background-color: #202020;
	color: #e3e3e3;
}

/* Header */
header {
	font-family: "Libre Baskerville", serif;
	text-align: center;
}

h1 {
	font-size: 90px;
	margin-top: 3%;
	margin-bottom: 0%;
}

h2 {
	font-size: 30px;
	margin-top: 0%;
	margin-bottom: 3%;
}

/* Text Section */
main {
	width: 75%;
	margin: auto;
}

.text {
	text-indent: 5%;
	font-family: "Glory", sans-serif;
	font-size: 170%;
	text-align: justify;
	margin-bottom: 5%;
}

/* Separate the text with the picture */
#text_1 {margin-bottom: 3%;}
#text_2 {margin-top: 3%;margin-bottom: 3%;}

img {
	max-width:100%;
	align: center;
}

/* The after-text section */
#slogans {
	font-family: "Glory", sans-serif;
	font-size: 190%;
	text-align: center;
}

.slogan {
	margin-top: 2%;
	margin-bottom: 2%;
}

/* The framed slogan */
#frame {
	text-align: adjust;
	font-size: 110%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-style: solid;
	border-color: #e3e3e3;
	padding: 0.2%;
}

/* DONATE NOW button */
#button-div {
	text-align: center;
	margin-top:3%;
	margin-bottom:3%;
}
a.button:link, a.button:visited {
    -webkit-appearance: button;
    -moz-appearance: button;
	font-family: 'Glory', sans-serif;
	font-size: 300%;
    appearance: button;
	text-decoration: none;
	background-color: #202020;
    color: #e3e3e3;
	border-style: solid;
	border-color: #e3e3e3;
	padding: 2%;
}
a.button:hover, a.button:active {
	background-color: #e3e3e3;
	color: #202020;
	border-color: #e3e3e3;
}

/* Footer */
#copyright, #signature{
	font-family: 'Glory', sans-serif;
	font-size: 120%;
	margin-bottom:0;
	margin-top:0;
}

#copyright{
	font-size: 105%;
	margin: auto;
	text-align: center;
	margin-bottom; 1%;
}

#signature{
	font-size: 100%;
	margin-bottom: 0%;
}

#github-link:link, #github-link:visited {
	color: #aaaaaa;
	text-decoration: none;
}

#github-link:hover, #github-link:active {
	color: #e3e3e3;
	font-size:101%;
	text-decoration: underline;
}

/* Easter Eggs */
/* Cooking Easter Egg */
#easter-egg-1 {
	text-decoration: none;
	color: #e3e3e3;
}


/* @media queries */
/* Medium devices */
@media (max-device-width: 720px) {
	h1 {
		font-size: 55px;
	}
	h2 {
		font-size: 20px;
	}
	main {
		width:85%;
	}
	.text {
		font-size:120%;
	}
	#slogans {
		font-size: 130%;
	}
	#frame {
		font-size: 95%;
		margin-bottom: 3%;
	}
    a.button:link, a.button:visited {
    	font-size: 150%;
    }
	#copyright {
    	width: 80%;
    	font-size:75%;
    }
    #signature {
    	font-size: 85%;
    }
}

/* Phones */
@media (max-device-width: 500px) {
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 15px;
	}
	main {
		width:90%;
	}
	.text {
		font-size:80%;
	}
	#slogans {
		font-size: 95%;
	}
	#frame {
		font-size: 95%;
		margin-bottom: 3%;
	}
    a.button:link, a.button:visited {
    	font-size: 115%;
    }
	#copyright {
    	width: 90%;
    	font-size:52%;
    }
    #signature {
    	font-size: 70%;
}

/* TODO : add @media query for Fold devices */
